{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron" style="height:400px; width:100%;">
        <div class="container">
            <h1 class="display-4">About Us </h1>
            <h5 class="display-1" style="font-size: 14px;">
                Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempora a non quidem quasi recusandae quia quod, soluta, odio exercitationem similique rerum corrupti reprehenderit velit, totam aut? Eaque rem qui perspiciatis maiores et consequuntur quae perferendis magnam inventore tempora atque aperiam voluptates vero, delectus distinctio? Facilis, eos voluptate. Atque nisi illo minus in cupiditate.
            </h5>
        </div>
    </div>

{% endblock %}