{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="conatiner">
            <h1 class="display-2">Contact Us</h1>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h4>Email:- </h4>
                </div>
                <div class="col-sm8-8">
                    Praispranav@gmail.com
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h4>Phone:-</h4>
                </div>
                <div class="col-sm8-8">
                    +91 7644015588
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                     <h4>Address:-</h4>
                </div>
                <div class="col-sm8-8">
                    Rampur Parrori East<br>
                    Sitamarhi, Bihar, India
                </div>
            </div>
        </div>
    </div>
{% endblock %}